<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
</head>
<body>
	<div th:replace="layout :: menu"></div>

	<h1>VT</h1>
	<hr>
	
	<div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>
    </div>
	
	<div class="form">
		<form action="addRSS" method="post" onsubmit="return validate()">
			<table>
				<tr>
					<td>RRS Name</td>
					<td><input id="name" name="name"></td>
				</tr>
				<tr>
					<td>RSS URL</td>
					<td><input id="url" name="url"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit"></td>
				</tr>
			</table>
		</form>
	</div>
	<div th:replace="layout :: footer"></div>
</body>
</html>